.text-yellow {
    color: #FFFF30;
}

.text-red {
    color: #FFFF00;
}

.text-blue {
    color: #FFFF00;
}

.text-green {
    color: #FFFF00;
}

.text-black {
    color: #000000;
}

.text-white {
    color: #FFFFFF;
}

textarea {
    resize:none;
}