{% extends "FEFavorisBundle::layout.html.twig" %}

{% block favoris_content %}
    {% for favoris in listeFavoris %}
        <div class="limit"><span class="text-capitalize"> {{ favoris.url }} </span> - {{ favoris.nb_fav }} </div>
    {% endfor %}
</div>
{% endblock favoris_content %}