{% extends 'base.html.twig' %}

{% block title %} - Favoris{% endblock title %}

{% block body %}
<div class="jumbotron container">
    <h1>Favoris</h1>
    {% block favoris_content %}
    {% endblock favoris_content %}
</div>
{% endblock body %}