{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="jumbotron">
        <h1>Profil du compte</h1>
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        <p><a class="btn btn-primary btn-lg" href="edit" role="button">{{ 'profile.edit.submit'|trans }}</a></p>
    </div>
{% endblock fos_user_content %}
