{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div id="fos_user_registration_form">
        <div class="form-group">
            <label for="fos_user_registration_form_email" class="required">Email:</label>
            <input class="form-control" type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
        </div>

        <div class="form-group">
            <label for="fos_user_registration_form_username" class="required">Username:</label>
            <input class="form-control" type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" />
        </div>

        <div class="form-group">
            <label for="fos_user_registration_form_plainPassword_first" class="required">Password:</label>
            <input class="form-control" type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
        </div>

        <div class="form-group">
            <label for="fos_user_registration_form_plainPassword_second" class="required">Repeat password:</label>
            <input class="form-control" type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
        </div>

        <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="s8RLjp99gy6ieQNgxMqlezacsWyP_LahjiZnQgU_TOQ" />
    </div>

    <div class="form-group">
        <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
